#UserPanel{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    display: flex;
    flex-direction: row;
    background-color: orange;
    padding: 2.5px;
    justify-content: center;
    gap: .9vw;
}

#UserPanel > button {
    position: relative;
    height: 100%;
    width: auto;
    background-color: orange;
    border: 2px rgba(255,255,255,30%) dotted;
    /* border-radius: 15px; */
    display: flex;
    align-self: center;
    flex-direction: column;
    border-radius: 20px;
}

#UserPanel > button > .UserPanelIcon {
    width: 80%;
    height:80%;
    padding: 10%;
}

#UserPanel > button > p {
    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 1.8vw;
}

#UserPanel > div{
    position: relative;
    height: 100%;
    width: 22.2vw;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

#userinfo{
    position: relative;
    width: fit-content;
    align-content: center;
}

#userinfo > p > *{
    position: relative;
    height: 50%;
    width: fit-content;
}

#userinfo > p{
    position: relative;
    font-size: 2vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    word-wrap:normal;
    text-orientation: sideways-right;
    left: 50%;
    top: 50%;
    color: white;
    font-weight: 900;
    transform: translate(-50%,-50%);
}


#items{
    position: relative;
    width: fit-content;
    align-content: center;
    justify-content: center;
}

#items > p > *{
    position: relative;
    height: 60%;
    width: fit-content;
}

#items > p{
    justify-content: center;
    position: relative;
    height: 30%;
    display: flex;
    top: 10%;
    flex-direction: row;
    font-size: 2vw;
    flex-wrap: nowrap;
    width: 100%;
    word-wrap:normal;
    text-orientation: sideways-right;
    color: white;
    font-weight: 900;
    /* transform: translate(-50%,-50%); */
}